<%# フォーム送信時にエラーメッセージを表示するためのパーシャル %>
<% if object.errors.any? %> <%# エラーが存在するのか %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%#　countでエラーの数を返す %>
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>